/* Global styles general style for the entire site*/ 
* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0 auto;
  max-width: auto;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}xw

a:hover {
  color: var(--bs-link-hover-color);
}


