main{
    padding: 1rem;
  }
  
  h2 {
    margin-top: 0;
    font-size: 1.5em;
  }
.alerts > ul {
    list-style: none;
    padding: 0;
  }
  
  .alert {
    margin: 0.5rem;
    padding: 0.5rem 0 0.8rem 0;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid var(--bs-grey-3);
  }
  
  .alert h3 {
    margin: 0;
    padding: 0.5%;
    font-size: 1.2em;
  }
  
  .alert p {
    margin: 0;
  }
  
  .alert svg {
    height: 30px;
    width: 30px;
    margin: 0.25em;
    flex: 0 0 auto;
  }


/* visitor styles */

.visitor > details > ul {
    list-style: none;
    padding: 0;
  }

  .visitor > details li {
    border-bottom: 1px solid var(--bs-grey-3);
  }
.visitor-center > h3{   
    padding: 2% 0% ;
}
.visitor-center > p{   
    padding-bottom: 2% ;
}
  /* Activity style */
  .activityList {
    margin: 1px;
    padding-left: 5%;
  }

  details[name="current-details"]{
    border: solid 1px var(--bs-grey-3);
    border-radius: 5px;
    padding: 10px;
  }
  details[name="current-details"] summary{
    padding: 1%;
    cursor: pointer;
  }